@font-face {
    font-family: 'BPG Boxo-Boxo';
    src: url('../fonts/bpg-boxo-boxo-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-boxo-boxo-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-boxo-boxo-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-boxo-boxo-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-boxo-boxo-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-boxo-boxo-webfont.svg#bpg_boxo-boxoregular') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'ALK Sanet';
    src: url('../fonts/alk-sanet-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-sanet-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-sanet-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-sanet-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-sanet-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-sanet-webfont.svg#alk_sanetregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/IndieFlower.eot');
    src: url('../fonts/IndieFlower.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IndieFlower.woff2') format('woff2'),
        url('../fonts/IndieFlower.woff') format('woff'),
        url('../fonts/IndieFlower.ttf') format('truetype'),
        url('../fonts/IndieFlower.svg#IndieFlower') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

